go 1.26.0

use (
	.
	../ai/proxy
	./sample/code-agent
	./sample/file-agent
	./sample/greet-agent
	./sample/logdoctor
	./sample/memory-demo
	./sample/middleware-demo
	./sample/strategy-demo
	./tui
	./tools/dependency-analyzer
)
