go 1.26.3

use (
	.
	./auth
	./mcp
	./provider/anthropic
	./provider/google
	./provider/openaicompat
	./sample/file-agent
	./sample/greet-agent
	./sample/logdoctor
	./sample/memory-demo
	./sample/middleware-demo
	./sample/strategy-demo
	./utils/video
)
